<?xml version="1.0" ?>
<model>
    <name>triangle_maze_brown</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Amirreza kabiri, Fatemeh Pahlevan Aghababa</name>
        <email>amirezakabiri@gmail.com, reyhaneh.pahlevan@gmail.com</email>
    </author>
    <description>
      Iran Open 2017,Virtual Rescue Robot Competition
	League Chair:
                 Hamid Pourjam, Sharif University of Technology, Iran
	Technical Committee Members:
                 Hamid Pourjam, Sharif University of Technology, Iran
                 ​Fatemeh Pahlavan, Sharif University of Technology, Iran
                 Mahdi Taherahmadi, Amirkabir University of Technology, Iran
                 Amirreza Kabiri, Amirkabir University of Technology, Iran
	  website:
		 http://2017.iranopen.ir/en-gb/leagues/robocuprescue/rescuevirtualrobotleague.aspx
    </description>
</model>
